<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Collection+JSON Browser</title>
    <%= javascript_include_tag "collection_json_browser/application" %>
    <%= stylesheet_link_tag    "collection_json_browser/application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>

  <%= yield %>

</html>
