<body ng-controller="ApiController">
  <div class="spinner modal-backdrop" ng-show="loading"></div>
  <div class="spinner modal" ng-show="loading">
      <img src="/assets/collection-json-browser/loading-spinner.gif" />
  </div>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="">
          <a href="" ng-click="goTo(rootUrl)">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid main">
    <div class="row-fluid">
      <div class="span6">
        <h2>Path</h2>
        <div class="location thumbnail">
          <label for='href'>href: </label>
          <input id='href' value="{{collection.href}}">
        </div>

        <div ng-show="collection.template">
          <h2>Template</h2>
          <div class="template thumbnail">
            <form class="form-horizontal" ng-submit="submit()">
              <fieldset class="control-group" ng-repeat="field in collection.template.data">
                <label class="control-label" for='{{field.name}}'>{{field.name}}</label>
                <div class="controls" ng-switch on="field.array">
                  <input ng-switch-when="undefined" id='{{field.name}}' value="{{field.value}}" ng-model='field.value'>
                  <select ng-switch-default id='{{field.name}}' value="{{field.value}}" ng-model='field.value' ng-options="option for option in field.array">
                  </select>
                </div>
              </fieldset>
              <div ng-show="collection.items">
                <fieldset class="control-group">
                  <label class="control-label" for="item-to-update">item to update</label>
                  <div class="controls">
                    <select id='item-to-updat' ng-model='item' ng-options="option.value as option.name for option in itemPaths"></select>
                  </div>
                </fieldset>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div ng-show="collection.links">
          <h2>Links & Images</h2>
          <div class="links thumbnail">
            <table class="table table-hover table-striped">
              <tr>
                <th>rel</th>
                <th>name</th>
                <th>prompt</th>
                <th>get</th>
              </tr>
              <tr ng-repeat="link in collection.links">
                <td>{{link.rel}}</td>
                <td>{{link.name}}</td>
                <td>{{link.prompt}}</td>
                <td ng-switch on="link.render">
                  <img ng-switch-when="image" ng-src={{link.href}} title={{link.rel}} width=150/>
                  <a ng-switch-default href="" ng-click="goTo(link.href, link.rel)">{{link.href}}</a>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div ng-show="collection.items">
          <h2>Items</h2>
          <div class="items thumbnail">
            <ol>
              <li ng-repeat="item in collection.items" class="item">
                <dl>
                  <dt>
                    rel
                  </dt>
                  <dd>
                    {{item.rel}}
                  </dd>
                  <dt>
                    prompt
                  </dt>
                  <dd>
                    {{item.prompt}}
                  </dd>
                  <dt>
                    get
                  </dt>
                  <dd class="get">
                    <a href="" ng-click="goTo(item.href, 'edit-form')">{{item.href}}</a>
                  </dd>
                  <dt>
                    delete
                  </dt>
                  <dd class="delete">
                    <a href="" ng-click="destroy(item.href)">delete {{item.href}}</a>
                  </dd>
                </dl>

                <table class="table table-hover table-striped">
                  <tr>
                    <th>name</th>
                    <th>prompt</th>
                    <th>value</th>
                  </tr>
                  <tr class="data" ng-repeat="data in item.data">
                    <td>{{data.name}}</td>
                    <td>{{data.prompt}}</td>
                    <td>{{data.value}}</td>
                  </tr>
                </table>

                <div ng-show="item.links">
                  <h3>Links & Images</h3>
                  <div class="item-links thumbnail">
                    <table class="table table-hover table-striped">
                      <tr>
                        <th>rel</th>
                        <th>name</th>
                        <th>prompt</th>
                        <th>get</th>
                      </tr>
                      <tr ng-repeat="link in item.links">
                        <td>{{link.rel}}</td>
                        <td>{{link.name}}</td>
                        <td>{{link.prompt}}</td>
                        <td ng-switch on="link.render">
                          <img ng-switch-when="image" ng-src={{link.href}} title={{link.rel}} width=150/>
                          <a ng-switch-default href="" ng-click="goTo(link.href, link.rel)">{{link.href}}</a>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div>

      </div>
      <div class="span6">
        <h2>Status</h2>
        <div class="status">
          {{status}}
        </div>

        <h2>Response body</h2>
        <pre class="raw">{{raw}}</pre>
      </div>
    </div>
  </div>
</body>
